LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://eu.api.smith.langchain.com"
LANGSMITH_API_KEY="<your-langsmith-api-key>"
LANGSMITH_PROJECT="GenAid"

OPENAI_API_KEY="<your-openai-api-key>"
OPENAI_BASE_URL="<your-openai-base-url>"
OPENAI_MODEL="<your-openai-model>"
OPENAI_EMB_MODEL="<your-openai-embedding-model>"